body{
    background-color: #F4A460;
}

.div1{
    background-color: #FFDEAD;
    height: 300px;
    width: 400px;
}
.m_i{
    color: #DC143C;
}
.m_r{
    color: 	#FFA500;
}
.m_b{
    color: #228B22;
}
.m_mb{
    color: 	#4169E1;
}